{% extends 'base.html'%}
{% load static %}
{% block title %}
Viewmore...
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-1"></div>
    {% if data %}
    {% for x in data %}
    <div class="col-sm-10 p-5 border-none">
        <center>
            <div class="btn rounded-pill w-50 fw-bold" style="background:#d50000; color:white;">{{x.ncategory}}</div>
        </center>
        <br/>
        <div class=" w-100">
            <h1 class="fw-bold">{{x.headlines}}</h1>
            <br/><b class="h4">{{x.subject}}</b>
            <img src="/{{x.newspic}}" class="card-img-top img-thumbnail w-100" style="height:250px;"
                 alt="{{x.newspic}}"><br/>
            <div class="row">
                <div class="col-sm-12 text-center bg-light container">
                    <a class="fa fa-facebook px-1 text-primary ic px-4" style="text-decoration:none;"
               href="https://www.facebook.com/ambuj.srivastava.3532/"></a>
            <a class="fa fa-youtube px-1 text-danger ic px-4" style="text-decoration"
               href="https://www.youtube.com/channel/UCIDaiduaPILL1HD24s_VgBA"></a>
            <a class="fa fa-whatsapp px-1 text-success ic px-4" title="7390923288" href="https://wa.me/+917390923288"
               style="text-decoration:none;"></a>
            <a class="fa fa-instagram px-1  text-danger ic px-4" href="https://www.instagram.com/ambujthesrivastava/"
               style="text-decoration:none;"></a>
                </div>
            </div>
            <div class="card-body">
                <i class="fw-bold text-muted" style="font-size:13px;">{{x.city}}</i>,<i class="fw-bold text-muted"
                                                                                        style="font-size:13px;">{{x.ndate}}</i>
                <p class="card-text">{{x.newsdes}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    {% endfor %}
    {% elif w %}
    {% for x in w %}
    <div class="col-sm-1"></div>
    <div class="col-sm-10 px-5 py-2 border-none">
        <br/>
        <div class=" w-100 px-1">
            <h1 class="fw-bold">{{x.wheadlines}}</h1>
            <br/><b class="h4">{{x.wsubject}}</b>
            <img src="/{{x.wpic}}" class="card-img-top img-thumbnail w-100" style="height:250px;"
                 alt="{{x.wpic}}">
            <div class="card-body">
                <i class="fw-bold text-muted" style="font-size:13px;">{{x.country}}</i>,<i class="fw-bold text-muted"
                                                                                        style="font-size:13px;">{{x.wdate}}</i>
                <p class="card-text">{{x.wdes}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="col-sm-1">

    </div>
</div>
{% endblock %}